@model Mhasb.Wsit.CustomModel.Organizations.EmployeeProfileCustom
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using (Html.BeginForm("Create", "EmployeeProfile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()


    if (TempData["SucMasg"] != null)
    {
        <div class="alert alert-success">@TempData["SucMasg"]</div>
    }
    if (TempData["errMsg"] != null)
    {
        <div class="alert alert-danger">@TempData["errMsg"]</div>
    }

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix welcome-container">
                    <div class="col-md-8">
                        <h2 class="text-center welcome-header">
                            Join to the MHASB community .. FREE
                        </h2>
                        <p class="text-center">
                            List your profile on MHASB community to become listed in our users directory and become part of our growing community and expanded your commercial relationships
                        </p>

                        <div class="row cstm-frm-row">
                            <div class="col-md-4">
                                <label class="italic">List My Profile:</label>
                            </div>
                            <div class="checkbox col-md-4">
                                <label>
                                    <input type="checkbox"> Turn On
                                </label>
                            </div>
                            <div class="checkbox col-md-4">
                                <label>
                                    <input type="checkbox"> Check me out
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        Profile Cover
                    </div>
                    <div class="col-md-8">
                        <input class="pull-left" name="profile_pic" id="profile_pic" type="file" />
                        <img id="profile_pic_target" src="" alt="Your Photo" width="120" />
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <div class="profile-image-div">
                            
                        </div>
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        Name
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="cstm-input" placeholder=@ViewBag.FirstName disabled>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="cstm-input" placeholder=@ViewBag.LastName disabled>
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        Job Title
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.employeeProfile.JobTitle, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.employeeProfile.JobTitle)
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        Brief Bio:
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.employeeProfile.Bio, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.employeeProfile.Bio)
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        Location
                    </div>
                    <div class="col-md-8">
                        <select class="cstm-input">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>

            </div>


            <h4 >Contact Details</h4>
            <div class="row cstm-frm-row">
                <div class="col-md-12 pad-right-null">
                    <div class="col-md-12"><label id="errmsg"></label></div>
                    <label class="btn-block-dis">Phone:</label>

                    <div class="col-md-3 no-padding">
                        @Html.TextBoxFor(model => model.Phone.FieldValueOne, new { @class = "cstm-input", @placeholder = "Country Code" })
                        @Html.ValidationMessageFor(model => model.Phone.FieldValueOne)
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Phone.FieldValueTwo, new { @class = "cstm-input", @placeholder = "Area Code" })
                        @Html.ValidationMessageFor(model => model.Phone.FieldValueTwo)
                    </div>
                    <div class="col-md-5 pad-left-null">
                        @Html.TextBoxFor(model => model.Phone.FieldValueThree, new { @class = "cstm-input", @placeholder = "Number" })
                        @Html.ValidationMessageFor(model => model.Phone.FieldValueThree)
                    </div>
                </div>
            </div>
            <div class="row cstm-frm-row">
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Website.FieldValueOne, new { @class = "cstm-input", placeholder = "Website" })
                    @Html.ValidationMessageFor(model => model.Website.FieldValueOne)
                </div>
            </div>
            <div class="row cstm-frm-row social-add">
                <div class="col-md-12 cstm-frm-row" id="facebook_field" style="display:none;">
                    <div class="col-md-3 no-padding">
                        <label class="social-label"><i class="fa fa-facebook facebook-color"></i></label>
                        <label class="pull-right">www.facebook.com/</label>
                    </div>
                    <div class="col-md-9 no-padding cstm-cross">
                        @Html.TextBoxFor(model => model.Facebook.FieldValueOne, new { @class = "cstm-input", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Facebook.FieldValueOne)
                        <button id="facebook_remove" type="button">X</button>
                    </div>
                </div>

                <div class="col-md-12 cstm-frm-row" id="fax_field" style="display:none;">
                    <div class="col-md-3 no-padding">
                        Fax
                    </div>
                    <div class="col-md-9 no-padding cstm-cross">
                        @Html.TextBoxFor(model => model.Fax.FieldValueOne, new { @class = "cstm-input", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Fax.FieldValueOne)
                        <button id="fax_remove" type="button">X</button>
                    </div>
                </div>

                <div class="col-md-12 cstm-frm-row" id="linkedin_field" style="display:none;">
                    <div class="col-md-3 no-padding">
                        <label class="social-label"><i class="fa fa-linkedin"></i></label>
                        <label class="pull-right">www.linkedin.com/</label>
                    </div>
                    <div class="col-md-9 no-padding cstm-cross">
                        @Html.TextBoxFor(model => model.LinkedIn.FieldValueOne, new { @class = "cstm-input", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.LinkedIn.FieldValueOne)
                        <button id="linkedin_remove" type="button">X</button>

                    </div>
                </div>

                <div class="col-md-12 cstm-frm-row" id="twitter_field" style="display:none;">
                    <div class="col-md-3 no-padding">
                        <label class="social-label"><i class="fa fa-twitter twitter-color"></i></label>
                        <label class="pull-right">www.twitter.com/</label>
                    </div>
                    <div class="col-md-9 no-padding cstm-cross">
                        @Html.TextBoxFor(model => model.Twitter.FieldValueOne, new { @class = "cstm-input", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Twitter.FieldValueOne)
                        <button id="twitter_remove" type="button">X</button>
                    </div>
                </div>
                <div class="col-md-12 cstm-frm-row" id="google_field" style="display:none;">
                    <div class="col-md-3 no-padding">
                        <label class="social-label"><i class="fa fa-google-plus google-color"></i></label>
                        <label class="pull-right">plus.google.com/</label>
                    </div>
                    <div class="col-md-9 no-padding cstm-cross">
                        @Html.TextBoxFor(model => model.Google.FieldValueOne, new { @class = "cstm-input", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Google.FieldValueOne)
                        <button id="google_remove" type="button">X</button>

                    </div>
                </div>
                <div class="col-md-12 cstm-frm-row" id="skype_field" style="display:none;">
                    <div class="col-md-3 no-padding">
                        <label class="social-label"><i class="fa fa-skype skype-color"></i></label>
                        <label class="pull-right">www.skype.com/</label>
                    </div>
                    <div class="col-md-9 no-padding cstm-cross">
                        @Html.TextBoxFor(model => model.Skype.FieldValueOne, new { @class = "cstm-input", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Skype.FieldValueOne)
                        <button id="skype_remove" type="button">X</button>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Add contact field
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li id="facebook_name" role="presentation"> <a role="menuitem" tabindex="-1">Facebook</a></li>
                    <li id="twitter_name" role="presentation"><a role="menuitem" tabindex="-1">Twitter</a></li>
                    <li id="google_name" role="presentation"><a role="menuitem" tabindex="-1">Google PLus</a></li>
                    <li id="linkedin_name" role="presentation"><a role="menuitem" tabindex="-1">Linked In</a></li>
                    <li id="skype_name" role="presentation"><a role="menuitem" tabindex="-1">Skype</a></li>
                    <li id="fax_name" role="presentation"><a role="menuitem" tabindex="-1">Fax</a></li>
                </ul>
            </div>


            <div class="row cstm-frm-row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    @*</div>
                </div>
            </div>
        </div>*@


}


<script>
    function readImageURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile_pic_target').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    $(document).on('keypress', '#Phone_FieldValueOne', function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 43) {
            //display error message
            $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
        if ($("#Phone_FieldValueThree").val().length > 3) {
            //display error message
            $("#errmsg").html("Maximum 4 digit").show().fadeOut("slow");

            return false;
        }
    });

    $(document).on('keypress', '#Phone_FieldValueTwo', function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
        if ($("#Phone_FieldValueThree").val().length > 3) {
            //display error message
            $("#errmsg").html("Maximum 4 digit").show().fadeOut("slow");

            return false;
        }
    });

    $(document).on('keypress', '#Phone_FieldValueThree', function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
        if ($("#Phone_FieldValueThree").val().length > 5) {
            //display error message
            $("#errmsg").html("Maximum 6 digit").show().fadeOut("slow");

            return false;
        }
    });



    $("#profile_pic").change(function () {
        readImageURL(this);
    });

    $("#add_contact_btn").click(function () {
        if ($("#add_contact_fieldnames").is(':visible'))
            $("#add_contact_fieldnames").hide();
        else
            $("#add_contact_fieldnames").show();
    });

    $("#facebook_name").click(function () {
        $("#facebook_field").show();
        $("#Facebook_FieldValueOne").select();
    });

    $("#twitter_name").click(function () {
        $("#twitter_field").show();
        $("#Twitter_FieldValueOne").select();
    });

    $("#skype_name").click(function () {
        $("#skype_field").show();
        $("#Skype_FieldValueOne").select();
    });

    $("#fax_name").click(function () {
        $("#fax_field").show();
        $("#Fax_FieldValueOne").select();
    });

    $("#google_name").click(function () {
        $("#google_field").show();
        $("#Google_FieldValueOne").select();
    });
    $("#linkedin_name").click(function () {
        $("#linkedin_field").show();
        $("#Linkedin_FieldValueOne").select();
    });
    $("#facebook_remove").click(function () {
        $("#facebook_field").hide();
        $("#Facebook_FieldValueOne").val("");

    });
    $("#twitter_remove").click(function () {
        $("#twitter_field").hide();
        $("#Twitter_FieldValueOne").val("");

    });
    $("#google_remove").click(function () {
        $("#google_field").hide();
        $("#Google_FieldValueOne").val("");

    });
    $("#linkedin_remove").click(function () {
        $("#linkedin_field").hide();
        $("#Linkedin_FieldValueOne").val("");

    });
    $("#skype_remove").click(function () {
        $("#skype_field").hide();
        $("#Skype_FieldValueOne").val("");

    });
    $("#fax_remove").click(function () {
        $("#fax_field").hide();
        $("#Fax_FieldValueOne").val("");

    });

</script>








@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>EmployeeProfile</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ImageLocation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageLocation)
                    @Html.ValidationMessageFor(model => model.ImageLocation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bio, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bio)
                    @Html.ValidationMessageFor(model => model.Bio)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location)
                    @Html.ValidationMessageFor(model => model.Location)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Website)
                    @Html.ValidationMessageFor(model => model.Website)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsAction, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsAction)
                    @Html.ValidationMessageFor(model => model.IsAction)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


