@model Mhasb.Wsit.CustomModel.Organizations.EmployeeProfileCustom

@{
    ViewBag.Title = "Create Employee Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h2>Create Employee Profile</h2>
@if (TempData["SucMasg"] != null)
{
    <div class="alert alert-success">@TempData["SucMasg"]</div>
}
@if (TempData["errMsg"] != null)
{
    <div class="alert alert-danger">@TempData["errMsg"]</div>
}

@using (Html.BeginForm("Update", "EmployeeProfile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @*@Html.AntiForgeryToken()*@

    @Html.HiddenFor(m => m.employeeProfile.Id, new { Value = Model.employeeProfile.Id })
    @Html.HiddenFor(m => m.employeeProfile.ImageLocation, new { Value = Model.employeeProfile.ImageLocation })

    @Html.HiddenFor(m => m.Phone.Id, new { Value = Model.Phone.Id })
    @Html.HiddenFor(m => m.Website.Id, new { Value = Model.Website.Id })
    @Html.HiddenFor(m => m.Fax.Id, new { Value = Model.Fax.Id })
    @Html.HiddenFor(m => m.Facebook.Id, new { Value = Model.Facebook.Id })
    @Html.HiddenFor(m => m.Twitter.Id, new { Value = Model.Twitter.Id })
    @Html.HiddenFor(m => m.Google.Id, new { Value = Model.Google.Id })
    @Html.HiddenFor(m => m.LinkedIn.Id, new { Value = Model.LinkedIn.Id })
    @Html.HiddenFor(m => m.Skype.Id, new { Value = Model.Skype.Id })

    @Html.HiddenFor(m => m.Phone.EmployeeProfileId, new { Value = Model.Phone.EmployeeProfileId })
    @Html.HiddenFor(m => m.Website.EmployeeProfileId, new { Value = Model.Website.EmployeeProfileId })
    @Html.HiddenFor(m => m.Fax.EmployeeProfileId, new { Value = Model.Fax.EmployeeProfileId })
    @Html.HiddenFor(m => m.Facebook.EmployeeProfileId, new { Value = Model.Facebook.EmployeeProfileId })
    @Html.HiddenFor(m => m.Twitter.EmployeeProfileId, new { Value = Model.Twitter.EmployeeProfileId })
    @Html.HiddenFor(m => m.Google.EmployeeProfileId, new { Value = Model.Google.EmployeeProfileId })
    @Html.HiddenFor(m => m.LinkedIn.EmployeeProfileId, new { Value = Model.LinkedIn.EmployeeProfileId })
    @Html.HiddenFor(m => m.Skype.EmployeeProfileId, new { Value = Model.Skype.EmployeeProfileId })



    <div class="container my-dashboard">
        <div class="row clearfix">
            <div class="col-md-6">
                <p class="text-center">
                    List your profile on MHASB community to become listed in our users directory and become part of our growing community and expanded your commercial relationships
                </p>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>List My Profile:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox"> Turn On
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox"> Check me out
                    </div>
                </div>






                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <span class="img-div-txt">Profile Cover</span>

                    </div>
                    <div class="col-md-4">
                        <div class="profile-image-div">
                            <img id="profile_pic_target" src="@Url.Content("~/"+Model.employeeProfile.ImageLocation)" alt="Your Photo" width="120" />
                        </div>
                    </div>
                    <div class="col-md-4">

                        <input name="profile_pic" id="profile_pic" type="file" />
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4"> Name </div>

                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4"> Job Title</div>
                    <div class="col-md-8">

                        @Html.TextBoxFor(model => model.employeeProfile.JobTitle, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.employeeProfile.JobTitle)
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4"> Brief Bio:</div>
                    <div class="col-md-8">
                        @*<textarea class="form-control"></textarea>*@
                        @Html.TextAreaFor(model => model.employeeProfile.Bio, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.employeeProfile.Bio)
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4"> Location</div>
                    <div class="col-md-8">
                        <select class="cstm-input">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <p>Contact Details</p>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4"> Phone</div>
                    <div class="col-md-8">

                        @Html.TextBoxFor(model => model.Phone.FieldValueOne, new { @class = "cstm-input", @placeholder = "Country Code" })

                        @Html.TextBoxFor(model => model.Phone.FieldValueTwo, new { @class = "cstm-input", @placeholder = "Area Code" })
                        @Html.TextBoxFor(model => model.Phone.FieldValueThree, new { @class = "cstm-input", @placeholder = "Number" })

                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">Website</div>
                    <div class="col-sm-10">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.Website.FieldValueOne, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.Website.FieldValueOne)
                    </div>
                </div>

                <div class="form-group" id="facebook_field" hidden="hidden">
                    <label for="inputEmail3" class="col-sm-2 control-label font-padding">Facebook</label>
                    <label class="col-sm-2 control-label font-padding area-social"><img src="~/mhasbStyle\img/facebook.png">www.facebook.com/</label>
                    <div class="col-sm-10 social-list-cont social-list-hidden-field">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.Facebook.FieldValueOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Facebook.FieldValueOne)
                        <button id="facebook_remove" type="button">X</button>
                    </div>
                </div>

                <div class="form-group" id="fax_field" hidden="hidden">
                    <label for="inputEmail3" class="col-sm-2 control-label font-padding">Fax</label>
                    <label class="col-sm-2 control-label font-padding area-social"><img src="~/mhasbStyle\img/fax.png"></label>
                    <div class="col-sm-10 social-list-cont social-list-hidden-field">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.Fax.FieldValueOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fax.FieldValueOne)
                        <button id="fax_remove" type="button">X</button>
                    </div>
                </div>

                <div class="form-group" id="linkedin_field" hidden="hidden">
                    <label for="inputEmail3" class="col-sm-2 control-label font-padding">Linked In</label>
                    <label class="col-sm-2 control-label font-padding area-social"><img src="~/mhasbStyle\img/linkedin.png">www.linkedin.com/</label>
                    <div class="col-sm-10 social-list-cont social-list-hidden-field">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.LinkedIn.FieldValueOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LinkedIn.FieldValueOne)
                        <button id="linkedin_remove" type="button">X</button>
                    </div>
                </div>

                <div class="form-group" id="twitter_field" hidden="hidden">
                    <label for="inputEmail3" class="col-sm-2 control-label font-padding">Twitter</label>
                    <label class="col-sm-2 control-label font-padding area-social"><img src="~/mhasbStyle\img/twitter.png">www.twitter.com/</label>
                    <div class="col-sm-10 social-list-cont social-list-hidden-field">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.Twitter.FieldValueOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Twitter.FieldValueOne)
                        <button id="twitter_remove" type="button">X</button>
                    </div>
                </div>

                <div class="form-group" id="skype_field" hidden="hidden">
                    <label for="inputEmail3" class="col-sm-2 control-label font-padding">Skype</label>
                    <label class="col-sm-2 control-label font-padding area-social"><img src="~/mhasbStyle\img/skype.png"></label>
                    <div class="col-sm-10 social-list-cont social-list-hidden-field">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.Skype.FieldValueOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Skype.FieldValueOne)
                        <button id="skype_remove" type="button">X</button>
                    </div>
                </div>

                <div class="form-group" id="google_field" hidden="hidden">
                    <label for="google" class="col-sm-2 control-label font-padding">Google</label>
                    <label class="col-sm-2 control-label font-padding area-social"><img src="~/mhasbStyle\img/google.png">www.google.com/</label>
                    <div class="col-sm-10 social-list-cont social-list-hidden-field">
                        @*<input class="form-control" id="inputEmail3" type="text">*@
                        @Html.TextBoxFor(model => model.Google.FieldValueOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Google.FieldValueOne)
                        ><button id="google_remove" type="button">X</button>
                    </div>
                </div>
                <div id="add_contact_btn" class="text-left contact-field pos-rel">
                    + Add Contact Field
                    <div class="social-list" id="add_contact_fieldnames" hidden="hidden">
                        <ul>
                            <li id="facebook_name">Facebook</li>
                            <li id="twitter_name">Twitter</li>
                            <li id="google_name">Google PLus</li>
                            <li id="linkedin_name">Linked In</li>
                            <li id="skype_name">Skype</li>
                            <li id="fax_name">Fax</li>
                        </ul>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        console.log("ready!");
        if ($("#Facebook_FieldValueOne").val() != '')
            $("#facebook_field").show();
        if ($("#Skype_FieldValueOne").val() != '')
            $("#skype_field").show();
        if ($("#Twitter_FieldValueOne").val() != '')
            $("#twitter_field").show();
        if ($("#Fax_FieldValueOne").val() != '')
            $("#fax_field").show();
        if ($("#Linkedin_FieldValueOne").val() != '')
            $("#linkedin_field").show();
        if ($("#Google_FieldValueOne").val() != '')
            $("#google_field").show();

    });


    function readImageURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile_pic_target').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#profile_pic").change(function () {
        readImageURL(this);
    });

    $("#add_contact_btn").click(function () {
        if ($("#add_contact_fieldnames").is(':visible'))
            $("#add_contact_fieldnames").hide();
        else
            $("#add_contact_fieldnames").show();
    });

    $("#facebook_name").click(function () {
        $("#facebook_field").show();
        $("#Facebook_FieldValueOne").select();
    });

    $("#twitter_name").click(function () {
        $("#twitter_field").show();
        $("#Twitter_FieldValueOne").select();
    });

    $("#skype_name").click(function () {
        $("#skype_field").show();
        $("#Skype_FieldValueOne").select();
    });

    $("#fax_name").click(function () {
        $("#fax_field").show();
        $("#Fax_FieldValueOne").select();
    });

    $("#google_name").click(function () {
        $("#google_field").show();
        $("#Google_FieldValueOne").select();
    });
    $("#linkedin_name").click(function () {
        $("#linkedin_field").show();
        $("#Linkedin_FieldValueOne").select();
    });
    $("#facebook_remove").click(function () {
        $("#facebook_field").hide();
        $("#Facebook_FieldValueOne").val("");

    });
    $("#twitter_remove").click(function () {
        $("#twitter_field").hide();
        $("#Twitter_FieldValueOne").val("");

    });
    $("#google_remove").click(function () {
        $("#google_field").hide();
        $("#Google_FieldValueOne").val("");

    });
    $("#linkedin_remove").click(function () {
        $("#linkedin_field").hide();
        $("#Linkedin_FieldValueOne").val("");

    });
    $("#skype_remove").click(function () {
        $("#skype_field").hide();
        $("#Skype_FieldValueOne").val("");

    });
    $("#fax_remove").click(function () {
        $("#fax_field").hide();
        $("#Fax_FieldValueOne").val("");

    });

</script>
