@model Mhasb.Wsit.CustomModel.Accounts.VoucherCustom
@{
    ViewBag.Title = "Create";
}


<div class="container my-dashboard ">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row clearfix no-margin">
            <h4 class="all-head">@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary(true)


            

            <div class="col-md-6">
                <div class="row cstm-frm-row">

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.voucher.Description)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.voucher.Description, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.voucher.Description)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row cstm-frm-row">

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.voucher.VoucherDate)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.voucher.VoucherDate, new { @class = "cstm-input", id = "voucherdate" })
                        @Html.ValidationMessageFor(model => model.voucher.VoucherDate)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.voucher.CurrencyId) :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("voucher.CurrencyId", ViewBag.CurrencyList as SelectList, "-- Select Currency First--")
                            @Html.ValidationMessageFor(model => model.voucher.CurrencyId)
                        </label>
                    </div>
                </div>
            </div>
            <br /><hr />
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4>@ViewBag.Title List:</h4>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3 edit-fa">
                    <div class="input-group col-md-12">
                        <input type="text" class="search-query form-control cstm-input" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-tag-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Ledger Account</th>
                                <th>Tax Rate</th>
                                <th>Cost Center</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @for (int i = 0; i < 3; i++)
                           {
                                <tr>
                                    <td>@Html.TextAreaFor(m => m.voucherDetails[i].Description, new { @class = "cstm-input" })</td>
                                    <td>@Html.TextBoxFor(m => m.voucherDetails[i].ChartOfAccounts, new { @class = "cstm-input" })</td>
                                    <td></td>
                                    <td>@Html.TextBoxFor(m => m.voucherDetails[i].CoaId, new { @class = "cstm-input" })</td>
                                    <td>@Html.TextBoxFor(m => m.voucherDetails[i].Debit, new { @class = "cstm-input" })</td>
                                    <td>@Html.TextBoxFor(m => m.voucherDetails[i].Credit, new { @class = "cstm-input" })</td>
                                    <td>Action</td>
                                </tr>
                           }
                               
                   
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>




    }





</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#voucherdate').datetimepicker();
        });

    </script>
}