@*@model IEnumerable<Mhasb.Domain.Accounts.Voucher>*@
@model PagedList.IPagedList<Mhasb.Domain.Accounts.Voucher>
@using PagedList.Mvc;

<div class="container my-dashboard">
    <h4>Manual Journals</h4>
    <div class="row cstm-frm-row">
        <div class="col-md-8">
            @if (TempData["SucMasg"] != null)
            {
                <div class="alert alert-success">@TempData["SucMasg"]</div>
            }
            @if (TempData["errMsg"] != null)
            {
                <div class="alert alert-danger">@TempData["errMsg"]</div>
            }
        </div>
    </div>
    <div class="row cstm-frm-row">
        <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="..." style="bottom:10px;">
                <button type="button" class="btn btn-default" value="all">All </button>
                <button type="button" class="btn btn-default" value="draft">Draft </button>
                <button type="button" class="btn btn-default" value="posted">Posted </button>
                <button type="button" class="btn btn-default" value="voided">Voided </button>
                <button type="button" class="btn btn-default" value="repeating">Repeating </button>
                <button type="button" class="btn btn-default" value="archive">Archive </button>
                <button type="button" class="btn btn-default" value="costcenter">Cost Center (Select)</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="..." style="bottom:10px;">
                <button type="button" class="btn btn-info">Add New Journal</button>
                <button type="button" class="btn btn-info">Add New Repeating Journal</button>
            </div>

        </div>

        <div class="col-md-6" style="display:none;">
            <button type="button" class="btn btn-info">All Journals</button>
        </div>
        <div class="col-md-3 cstm-frm-row">
            <label style="margin-left: 119px;">Total Archived Journals</label>
        </div>
        <div class="col-md-2 cstm-frm-row">
            <input type="text" readonly value="@Model.Count()" style="text-align: center;margin-top: 5px;width: 30%;">
        </div>
        <div class="col-md-1 cstm-frm-row">
            Items
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            @if (!Model.Any())
            {
                <div class="alert-success">There are no Vouchar</div>
            }
            else
            {

                <table class="table table-bordered table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th width="40%">Narration </th>
                            <th>@Html.ActionLink("Voucher Date", "ManualJournals", new { sortOrder = ViewBag.DateSortParm })</th>
                            <th>Currency</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Status</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <th scope="row">@item.RefferenceNo</th>
                                <td>@item.Description</td>
                                <td>@item.VoucherDate</td>
                                <td>@item.Currencies.Name</td>
                                <td>@item.VoucherDetails.Sum(a => a.Debit)</td>
                                <td>@item.VoucherDetails.Sum(a => a.Credit)</td>
                                <td>
                                    @if (item.Posted == 0)
                                    {
                                        <p>Drafted </p>
                                    }
                                    else
                                    {<p>Posted</p>}
                                </td>

                                <td>
                                    <button class="btn btn-info data-view" data-id="@item.Id" data-toggle="modal" data-target="#pop-up-view">Review</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ManualJournals",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

</div>

<div class="modal fade" id="pop-up-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header cstm-pop-up-header">
                <button type="button" class="close pop-cross" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title sign-up-title" id="myModalLabel">Vouchar Details</h4>
            </div>
            <div class="modal-body" id="det" style="padding: 0px!important;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" data-id="" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn-default').click(function () {
            var baseUrl = '@Url.Content("~/")';
            var searchString = $(this).val();
            if (searchString == "draft") {
                window.location = baseUrl + "Accounts/Voucher/ManualJournals?searchString=" + searchString;
            } else if (searchString == "posted") {
                window.location = baseUrl + "Accounts/Voucher/ManualJournals?searchString=" + searchString;
            } else if (searchString == "voided") {
                window.location = baseUrl + "Accounts/Voucher/ManualJournals?searchString=" + searchString;
            }
            else {
                window.location = baseUrl + "Accounts/Voucher/ManualJournals";
            }
        });
    });
    $(".data-view").click(function () {
        var id = $(this).attr("data-id");
        var data = { id: id };
        var baseUrl = '@Url.Content("~/")';
        $.ajax({
            type: "POST",
            url: baseUrl + "Accounts/Voucher/GetManualJournalDetails",
            data: data,
            success: function (data) {
                $("#det").html(data);
            }
        });
    })
</script>
