@model Mhasb.Domain.Accounts.ChartOfAccount
@{Layout = null;}


<!-- Large modal -->
@*<a class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add New Account</a>*@

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="accountModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content clearfix">

            <div class="modal-header cstm-pop-up-header">
                <button type="button" class="close pop-cross" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title sign-up-title" id="myModalLabel">Add New Account</h4>
            </div>

            @*@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)*@

                <div class="col-md-6">

                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Type:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="cstm-input" id="Aid" name="atype" required="required">
                                <option value="">--Select Account Type--</option>
                                @foreach (var items in ViewBag.Atypes)
                                {
                                    if (items.Level == 1)
                                    {
                                        <optgroup label=@items.AName></optgroup>
                                    }
                                    else
                                    {
                                        <option value="@items.Id">@items.AName</option>
                                    }
                                }
                            </select>
                            @*@Html.DropDownList("atype", (SelectList)ViewBag.ATypes, "--Select Account Type--", htmlAttributes: new { @class = "cstm-input", id = "Aid", required = "required" })*@
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Name</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.AName, new { @class = "cstm-input",id="name" })
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Code</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ACode, new { @class = "cstm-input", id = "code" })
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Description</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.Description, new { @class = "cstm-tarea", placeholder = "Type a text here", id = "description" })
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Tax</label>
                        </div>
                        <div class="col-md-8">

                            @Html.DropDownList("TaxId", (SelectList)ViewBag.Lookups, "--Select Tax --", htmlAttributes: new { @class = "cstm-input", id = "taxid", required = "required" })
                        </div>
                    </div>
                    @*<div class="row cstm-frm-row">
                            <div class="col-md-4">
                                <label>Account Nature</label>
                            </div>
                            <div class="col-md-8">
                                <select class="cstm-input">
                                    <option value="">--Select Account Nature--</option>
                                    <option value="">Debit</option>
                                    <option value="">Credit </option>

                                </select>
                            </div>
                        </div>*@


                    <div class="row cstm-frm-row">

                        <div class="col-md-12">
                            <label>
                                @Html.CheckBoxFor(m => m.ShowInDashboard,new {id="dashboard"})
                                Show on Dashboard Watchlist
                            </label>
                        </div>
                    </div>
                    <div class="row cstm-frm-row">

                        <div class="col-md-12">
                            <label>
                                @Html.CheckBoxFor(m => m.ShowInExpenseClaims, new { id = "Eclaim" }) Show in Expense Claims
                            </label>
                        </div>
                    </div>
                    <div class="row cstm-frm-row">

                        <div class="col-md-12">
                            <label>
                                @Html.CheckBoxFor(m => m.IsCostCenter, new { id = "CostCenter" })This Account Is a Cost Center
                            </label>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Level, new { id = "level" })
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" id="save-account">Save</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <img src="~/img/chartofaccount.png" />
                </div>
            @*}*@



        </div>
    </div>
</div>

<input type="hidden" id="AccountUrlHide" value="@Url.Action("CreateAccountAjax", "ChartOfAccounts", new { area = "Accounts" })">


<script>
    $("#Aid").change(function () {
        var baseUrl = '@Url.Content("~/")';
        var url = $("#getCode").attr("data-url");
        var id = $(this).val();
        var data = { id: id }
        $.ajax({
            type: "POST",
            url: baseUrl + "Accounts/ChartOfAccounts/GetCode",
            data: data,
            datatype: "html",
            success: function (data) {
                $("#code").val(data.code);
                $("#code").attr('readonly', 'readonly');
                $("#level").val(data.lavel);

            }
        });
    })
    $("#save-account").click(function () {

        var accountObj = new Object();

        accountObj.name = $("#name").val();
        accountObj.code = $("#code").val();
        accountObj.description = $("#description").val();
        accountObj.taxid = $("#taxid").val();
        accountObj.dashboard = $("#dashboard").is(":checked");
        accountObj.Eclaim = $("#Eclaim").is(":checked");
        accountObj.CostCenter = $("#CostCenter").is(":checked");
        accountObj.level = $("#level").val();

        var arr = new Array();
        arr.push(accountObj);

        var data = JSON.stringify(arr);
         $.ajax({
            type: "POST",
            url: $("#AccountUrlHide").val(),
            data: { item: data },
            success: function (result) {
                if (result.msg == "passed")
                {
                    $(".account").append(' <li role="presentation"><a role="menuitem" class="itemSelected" data-value="' + result.code + '-' + result.name + '" data-id="'+result.id+'" tabindex="-1" href="javascript:void(0)">' + result.code + '"-" ' + result.name + '</a></li>');
                    $(".itemSelected").unbind("click").bind("click", function () {
                        $('.coAccount').val($(this).attr("data-value"))
                    })
                    $(".close").trigger("click");
                }
            }
        });


    });
</script>