<tr class="cstm-table-clr tr-parent">
    
    <td>
        <div class="dropdown form-border">
            <input class="dropdown-toggle itemtXt" type="text"  data-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1" class="btn btn-primary" data-toggle="modal" data-target="#itemsModal">+ New Item</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">None</a></li>
                @foreach (var item in ViewBag.Items)
                {
                    <li role="presentation"><a role="menuitem" class="itemCliked" tabindex="-1" id="@item.Id" href="javascript:void(0)">@item.ItemCode -  @item.ItemName</a></li>
                }
            </ul>
        </div>
    </td>
    <td><textarea class="cstm-tarea-click description" placeholder="" ></textarea></td>
    <td><textarea class="cstm-tarea-click1 quantity" placeholder="" ></textarea></td>
    <td><textarea class="cstm-tarea-click1 unitPrice" placeholder=""></textarea></td>
    <td>
        <div class="dropdown form-border">
            <input class="dropdown-toggle coAccount" type="text"  data-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
               
                <li role="presentation"><a href="#accountModal" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">+ Add new account...</a></li>
                @foreach (var item in ViewBag.CoaList)
                {
                    <li role="presentation"><a role="menuitem" class="itemSelected" tabindex="-1" href="javascript:void(0)">@item.ACode - @item.AName</a></li>
                }
            </ul>
           
        </div>
    </td>
    <td>
        <div class="dropdown form-border">
            <input class="dropdown-toggle taxPer" type="text"  data-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" class="btn btn-primary" data-target="#taxModal">+ Add new tax rate...</a></li>
                @foreach (var item in ViewBag.Lookups)
                {
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">@item.Value (@item.Quantity%) </a></li>
                }
            </ul>
        </div>
    </td>
    <td  class="ammount"></td>
    <td  class="ammounttax" style="display:none;"></td>
    <td class="crossx2 RemoveRow"><a href="javascript:void(0);">X</a></td>
</tr>

@*@{ Html.RenderAction("PartialAddAccount"); }*@




<script type="text/javascript">
    $(document).ready(function () {
       
        $('.itemCliked').click(function () {
            var Id = $(this).attr("id");
            var par = $(this).parent('li').parent('ul').parent().parent().parent();
            var presubtotal = $('#sub-total').text();
            var prevcalTax = $('#calTax').text();
            var prevtotal = $('#total').text();
            
            $.ajax({
                url: "@Url.Action("GetjsonItem", "Purchases", new { area = "Inventories" })",
                type: "POST",
                data: { Id: Id },
                success: function (data) {
                    var json = $.parseJSON(JSON.stringify(data));
                    var data = json.itemList[0];
                    console.log(data);
                    if (json.success == "False") {
                        console.log("Error");
                    } else {
                        var ammount = data.Quantity * data.UnitPrice;

                        par.find('.itemtXt').val(data.ItemName);
                        par.find('.description').val(data.Description);
                        par.find('.quantity').val(data.Quantity);
                        par.find('.unitPrice').val(data.UnitPrice);
                        par.find('.coAccount').val(data.AccountCode + " - " + data.AccountName);
                        par.find('.taxPer').val(data.PtxtValue + "(" + data.PtxtQuantity + ".00" + "%)");
                        par.find('.ammount').text(ammount + ".00");
                        par.find('.ammounttax').text(data.PtxtQuantity);
                        presubtotal = parseFloat(presubtotal) + ammount;
                        
                        $('#sub-total').text(presubtotal + ".00");
                        prevcalTax = parseFloat(prevcalTax) + data.PtxtQuantity;
                        $('#calTax').text(parseFloat(prevcalTax));
                        var total;
                        if (data.PtxtQuantity >=0) {
                            total = ammount + (ammount * (data.PtxtQuantity / 100)) + parseFloat(prevtotal);
                            }else{
                            total = ammount + parseFloat(prevtotal);
                            }
                        
                        $('#total').text(parseFloat(total));
                    }
                },
                error: function () {
                    console.log("Error");
                }
            });
        });
    });
</script>