
<div class="container my-dashboard">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="welcome">
                <h3 class="all-head">New Bill</h3>
            </div>
            <div class="alert alert-info cstm-box" role="alert">
                <i class="fa fa-info-circle"></i>&nbsp; It is recommended that you add <span class="cstm-txt3">your organization contact details</span> before spending purchase orders.
            </div>
            <div class="row clearfix no-margin card">
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="col-md-2 x-new">
                                <h6>From</h6>
                                <span id="ext-comp-1022" class="x-new-indicator" style="display:none;">NEW</span>
                                <input class="cstm-input" id="cutomer" type="text" placeholder="">
                                <input class="cstm-input" value="" id="cutomer-value" type="hidden">

                            </div>
                            <div class="col-md-2">
                                <h6>Date</h6>
                                <input class="cstm-input datepicker" type="text" placeholder="mm/dd/yy">
                            </div>
                            <div class="col-md-2">
                                <h6>Due Date</h6>
                                <input class="cstm-input datepicker" type="text" placeholder="mm/dd/yy">
                            </div>
                            <div class="col-md-2">
                                <h6>Reference</h6>
                                <input class="cstm-input" type="text" placeholder="">
                            </div>
                            <div class="col-md-2 cstm-ii">
                                <a class="tooltips newtooltips" href="javascript:void(0);">
                                    <i class="fa fa-file"></i>
                                    <span id="m-tooltip">
                                        <p class="toolhead">
                                            Header
                                        </p>
                                        <div class="toolbody">
                                            <p>Body text is here</p>
                                        </div>
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 cch">
                                <h6>Total</h6>
                                <input class="cstm-input cstm-place" type="text" placeholder="0.00">
                            </div>
                            <div class="col-md-12 cstm-border-con"></div>

                            <div class="row cstm-frm-row">
                                <div class="col-md-1 cstm-head">
                                    <h6>Currency</h6>
                                </div>
                                <div class="col-md-2">
                                    <label class="cstm-select">
                                        <select>
                                            <option selected> USA </option>
                                            <option>UK</option>
                                            <option>Bangladesh</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-2 cstm-head1">
                                    <h6>Amounts Are</h6>
                                </div>
                                <div class="col-md-2">
                                    <label class="cstm-select">
                                        <select>
                                            <option selected> USA </option>
                                            <option>UK</option>
                                            <option>Bangladesh</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-3 pull-right">
                                </div>
                            </div>
                            <div class="row cstm-frm-row">
                                <table class="table table-bordered table-responsive table-hover table-journal cstm-tbl-brd">
                                    <tbody id="itemLoader">
                                        <tr class="cstm-table-clr">
                                            <td>Item</td>
                                            <td>Description</td>
                                            <td>Qty</td>
                                            <td>Unit Price</td>
                                            <td>Account</td>
                                            <td>Tax Rate</td>
                                            <td>Amount BD</td>
                                            <td>Action</td>
                                        </tr>
                                        <tr class="cstm-table-clr">
                                            <td>
                                                <div class="dropdown form-border">
                                                    <input class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation"><a href="#" role="menuitem" tabindex="-1" class="" data-toggle="modal" data-target="#myModal">Add note</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td><textarea class="cstm-tarea-click" placeholder=""></textarea></td>
                                            <td><textarea class="cstm-tarea-click1" placeholder=""></textarea></td>
                                            <td><textarea class="cstm-tarea-click1" placeholder=""></textarea></td>
                                            <td>
                                                <div class="dropdown form-border">
                                                    <input class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown form-border">
                                                    <input class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td class="crossx2"><a href="#">X</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row cstm-frm-row">
                                <div class="col-md-2">
                                    <a href="javascript:void(0);" class="btn btn-success" id="new_line" data-role="button"><i class="fa fa-arrow-circle-up"></i>&nbsp; Add a new line</a>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <div class="col-md-6 cstm-div-border6">
                                        Sub-Total:
                                    </div>
                                    <div class="col-md-6 cstm-div-border7">
                                        0.00
                                    </div>
                                    <div class="col-md-6 cstm-div-border-3">
                                        Tax:
                                    </div>
                                    <div class="col-md-6 cstm-div-border-4">
                                        0.00
                                    </div>
                                    <div class="col-md-6 cstm-div-border8">
                                        Total:
                                    </div>
                                    <div class="col-md-6 cstm-div-border8">
                                        0.00
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 cstm-bc">
                                <div class="col-md-2 cstm-dro-btn">
                                    <div class="btn-group cstm-wd">
                                        <button type="button" class="btn btn-info cs-bn">Save</button>
                                        <button type="button" class="btn btn-info dropdown-toggle cs-bn1" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu cstm-drop" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Approve</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn btn-default" data-role="button">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-12 cstm-brd">
                <div class="row cstm-his">
                    <span class="cstm-opt1234">
                        History & Notes
                        <!-- Button trigger modal -->

                        <a class="tooltips newtooltips" href="javascript:void(0);">
                            <i class="fa fa-question-circle"></i>
                            <span id="m-tooltip">
                                <p class="toolhead">
                                    Header
                                </p>
                                <div class="toolbody">
                                    <p>Body text is here</p>
                                </div>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-md-12 cstm-aa">
                <a href="javascript:void(0)" class="btn btn-default add-note" data-role="button">Add note</a>
            </div>
            <br>
            <div class="hidden-note" style="display:none;">
                <div class="row cstm-frm-row">
                    <div class="col-md-6 no-padding">
                        <textarea class="cstm-tarea" id="note-des"></textarea>
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <a href="javascript:void(0)" class="btn btn-success note-save" data-role="button">Save</a>
                    <a href="javascript:void(0)" class="btn btn-danger note-cancel" data-role="button">Cancel</a>
                </div>
            </div>
            <input type="hidden" value="@ViewBag.User" id="usename" />
            <div class="col-md-9 no-padding">
                <table class="table table-bordered table-responsive table-hover table-journal">
                    <thead>
                        <tr>
                            <th>Change</th>
                            <th>Date</th>
                            <th>User</th>
                            <th width="30%">Details</th>

                        </tr>
                    </thead>
                    <tbody id="tbd"></tbody>
                </table>
                @Html.Hidden("changes[]", "", new { id = "change" })
                @Html.Hidden("notedate[]", "", new { id = "date" })
                @Html.Hidden("Notedes[]", "", new { })
                <input type="hidden" name="note_data" id="notes" value="" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>
<script type="text/javascript">
    $('#tt').click(function () {
        $('#tt').tooltip({ items: "#tt", content: "Displaying on click" });
        $('#tt').tooltip("open");
    });
    $(".newtooltips").on("click", function () {
        if ($(this).children("span").hasClass("showTooltips")) {
            $(this).children("span").removeClass("showTooltips");
        } else {
            $(this).children("span").addClass("showTooltips");
        }
    });
    //            $("body").on("click",function(e){
    //                e.stopPropagation();
    //                if($("#m-tooltip").hasClass("showTooltips")){
    //                   $("#m-tooltip").removeClass("showTooltips");
    //               }
    //            });

    $("#new_line").click(function () {
        $.get("ItemRow", function (data) {
            $("#itemLoader").append(data);
        });
      
        
    });
    $(".add-note").click(function () {
        $(".hidden-note").toggle("slow");
    })
    $(".note-cancel").click(function () {
        $(".hidden-note").hide("slow");
    })
    $(".note-save").click(function () {
        var user = $("#usename").val();
        var currentdate = new Date();
        var cd = currentdate.toLocaleString();
        var note = $("#note-des").val();
        var curVal = $("#notes").val();
        var ar = [];
        if (curVal !== "") {
            ar = JSON.parse(curVal);

        }
        var c = { "type": "note", "des": note, "date": cd };
        ar.push(c);

        $("#notes").val(JSON.stringify(ar));


        var htmlStr = "<tr><td>Note</td><td>" + currentdate.toLocaleString() + "</td><td>" + user + "</td><td>" + $("#note-des").val() + "</td></tr>";
        $("#tbd").append(htmlStr);
        $("#note-des").val("");
        $(".hidden-note").hide("slow");
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // adding todays date as the value to the datepickers.
        var d = new Date();
        var curr_day = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var eutoday = curr_day + "-" + curr_month + "-" + curr_year;
        var ustoday = curr_month + "-" + curr_day + "-" + curr_year;
        $("div.datepicker input").attr('value', eutoday);
        $("div.usdatepicker input").attr('value', ustoday);

        //calling the datepicker for bootstrap plugin
        // https://github.com/eternicode/bootstrap-datepicker
        // http://eternicode.github.io/bootstrap-datepicker/
        $('.datepicker').datepicker({
            autoclose: true,
            startDate: new Date()
        });
    });
    var baseUrl = '@Url.Content("~/")';
    $('#ui-id-1-100').click(function () {
        var newName = $("#cutomer").val();
        $("#cutomer").val(newName)
        $('.ui-autocomplete').hide();
        $('.x-new-indicator').show();
        $('#cutomer-value').val(0);
    });
        
    $("#cutomer").autocomplete({
        source: baseUrl + "Inventories/Purchases/GetServiceNames",
        minLength: 1,
        select: function (event, ui) {
            var $Id = ui.item.id;
            $('#cutomer-value').val($Id);
        },
        html: true,
        open: function (event, ui) {
            $('.x-new-indicator').hide();
            var newName = $("#cutomer").val();
            $(".ui-autocomplete").css("z-index", 1000);
            var html = '<span>+ New Contact</span>';
            html += '<li class="ui-menu-item" id="ui-id-1-100" tabindex="-1">' + newName + '</li>';
            $(".ui-autocomplete").last('.ui-menu-item').append(html);
            var newHtml = '<div id="ext-comp-1022" class="x-new-indicator">NEW</div>';
            var click=$('#ui-id-1-100').bind('click', function () {
                $("#cutomer").val(newName)
                $('.ui-autocomplete').hide();
                $('.x-new-indicator').show();
                $('#cutomer-value').val(0);
            });
        },
        response: function (event, ui) {
            // var obj = jQuery.parseJSON(event);
            var obj = JSON.stringify(ui);
            var res = obj.slice(11);
            var str = res.slice(0, -1);
            console.log(str.length);
            if (str.length <= 2) {
                $(".newAutocomplete").show();
            } else {
                console.log("RusseNotEmpty");
            }
        },
    });
   
</script>
