@model Mhasb.Domain.OrgSettings.TaxSetting


<div class="container my-dashboard">
    <div class="row clearfix">
        <div class="col-md-10">
            <h2>Create</h2>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <div class="organization-details-form">
                    <h4>TaxSetting</h4>
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row cstm-frm-row">
                                @Html.TextBoxFor(model => model.TaxBasis, new { placeholder = "Tax Basis", @class = "cstm-input" })
                                @Html.ValidationMessageFor(model => model.TaxBasis)
                            </div>

                            <div class="row cstm-frm-row">
                                @Html.TextBoxFor(model => model.DisplayName, new { placeholder = "Tax ID Display Name", @class = "cstm-input" })
                                @Html.ValidationMessageFor(model => model.DisplayName)
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row cstm-frm-row">
                                @Html.TextBoxFor(model => model.TaxId, new { placeholder = "Tax ID Number", @class = "cstm-input" })
                                @Html.ValidationMessageFor(model => model.TaxId)
                            </div>
                            <div class="row cstm-frm-row">
                                <div class="col-md-4">
                                    @Html.Label("Tax Period")
                                    </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("FinalcialPeriod", ViewBag.PeriodList as SelectList, "--Select Period First--", new { @class = "cstm-input", @style = "width: 82%" })
                                    @Html.ValidationMessageFor(model => model.FinalcialPeriod)
                                </div>
                                </div>
                        </div>
                    </div>


                    <div class="row cstm-frm-row">
                        <div class="col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>


                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
