@model Mhasb.Domain.OrgSettings.TaxSetting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaxSetting</h4>
	<hr />
    <dl class="dl-horizontal">
        

        
        <dt>
            @Html.DisplayNameFor(model => model.TaxBasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxBasis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalcialPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalcialPeriod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
