@model IEnumerable<Mhasb.Domain.Notifications.Invitation>

@{
    ViewBag.Title = "Invitations List";
}
<style>
    .link {
        margin-bottom: 10px;
        color: #fff;
    }
</style>
<div class="col-md-12">
    <h2>Index</h2>

    <div class="btn btn-success" style="margin-bottom:10px;color:#fff;">
        @Html.ActionLink("Create New", "Create", new { @class = "link" })
        &nbsp;<i class="fa fa-plus-circle">
        </i>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>
                Email
            </th>
            <th>
                Employee Type
            </th>
            <th>
              Company 
            </th>
            <th>
               Status
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Accept", "InvitationConfirm", new { id = item.Id, token = item.Token })
                </td>
            </tr>
        }

    </table>
</div>