@model Mhasb.Domain.Organizations.Company
<div class="container">
    <ul class="cstm-breadcrumb">
        <li><a href="@Url.Action("Add", "Company", new { area = "OrganizationManagement" })" class="active">Start</a></li>
        <li><a href="@Url.Action("update", "Company", new { area = "OrganizationManagement" })">Organisation Settings</a></li>
        <li><a href="@Url.Action("Create", "FinalcialSetting", new { area = "OrgSettings" })">Financial Settings</a></li>
        @*<li><a href="#">Invoice Settings</a></li>*@
        <li><a href="@Url.Action("Create", "Invitations", new { area = "NotificationManagement" })">Invite Users</a></li>
        @*<li><a href="@Url.Action("Create", "Currency", new { area = "OrgSettings" })">Currencies</a></li>
            <li><a href="@Url.Action("Create", "TaxSetting", new { area = "OrgSettings" })">Tax Rates</a></li>*@
        <li><a href="@Url.Action("Create", "ChartOfAccounts", new { area = "Accounts" })">Chart of Accounts</a></li>
        @*<li><a href="#">Account Balances</a></li>*@
        <li><a href="#">Done.</a></li>
    </ul>
</div>
<div class="container my-dashboard">
    
    @if (TempData["SucMasg"] != null)
    {
        <div class="alert alert-success">@TempData["SucMasg"]</div>
    }
    @if (TempData["errMsg"] != null)
    {
        <div class="alert alert-danger">@TempData["errMsg"]</div>
    }


    <div class="row clearfix no-margin">
        <h3 class="all-head">New Organisation</h3>
    </div>
    <div class="row clearfix">
        @using (Html.BeginForm("Add", "Company", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="col-md-12 p-setting-container-cost">
                <div class="col-md-8">

                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>What's the name of your organisation?</label>
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.TradingName, new {@class = "cstm-input", @placeholder = "Organisation Name*",required="required"})
                            @Html.ValidationMessageFor(model => model.TradingName)
                        </div>
                    </div>

                    <div class="row cstm-frm-row">
                        <div class="col-md-4 cstm-lab">
                            <label>Where does your organisation pay taxes?</label>
                        </div>
                        <div class="col-md-7">
                            <label class="cstm-select">
                                @Html.DropDownList("CountryId", ViewBag.CountryList as SelectList, new {@class = "cstm-input"})
                                @Html.ValidationMessageFor(model => model.CountryId)
                            </label>
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-7">
                            <div>
                                <input type="submit" value="Start Trial" name="startTrial" class="btn btn-success"/>
                                OR
                                <input type="button" id="buy-btn" value="Buy Now" name="buyNow" class="btn btn-info"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $("#buy-btn").click(function () {
        alert("Work in Progress");
    });
</script>