@model Mhasb.Domain.Organizations.Company
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container my-dashboard">
    <div class="row clearfix">


        @using (Html.BeginForm("Registration", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-md-12">
                <div class="row cstm-frm-row">
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.TradingName, new { @class = "cstm-input", @placeholder = "Trading Name*" })
                        @Html.ValidationMessageFor(model => model.TradingName)

                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.LegalName, new { @class = "cstm-input", @placeholder = "Legal Name" })
                        @Html.ValidationMessageFor(model => model.LegalName)

                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.DisplayName, new { @class = "cstm-input", @placeholder = "Display Name" })
                        @Html.ValidationMessageFor(model => model.DisplayName)

                    </div>
                </div>
            </div>


            <div class="col-md-6">


                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.IndustryId, "Industry") :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("IndustryId", ViewBag.IndustryList as SelectList, new { @class = "cstm-input" })
                            @*@Html.DropDownListFor(x => x.accountId, new SelectList(ViewBag.IndustryList, "Id", "AccountName"))*@
                            @Html.ValidationMessageFor(model => model.IndustryId)
                        </label>
                    </div>
                </div>


                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.CountryId, "Country") :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("CountryId", ViewBag.CountryList as SelectList, new { @class = "cstm-input" })
                            @Html.ValidationMessageFor(model => model.CountryId)
                        </label>
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.LanguageId, "Language") :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("LanguageId", ViewBag.LanguageList as SelectList)
                            @Html.ValidationMessageFor(model => model.LanguageId)
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="row cstm-frm-row">
                    <div class="col-md-8">

                        @Html.TextBoxFor(model => model.Tel, new { @class = "cstm-input", @placeholder = "Telephone" })
                        @Html.ValidationMessageFor(model => model.Tel)

                    </div>
                </div>


                <div class="row cstm-frm-row">
                    <div class="col-md-8">
                        @*@Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })*@

                        @Html.TextBoxFor(model => model.Fax, new { @class = "cstm-input", @placeholder = "Fax" })
                        @Html.ValidationMessageFor(model => model.Fax)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-8">
                        @*@Html.LabelFor(model => model.P_O_Box, new { @class = "control-label col-md-2" })*@

                        @Html.TextBoxFor(model => model.P_O_Box, new { @class = "cstm-input", @placeholder = "P. O. Box No*" })
                        @Html.ValidationMessageFor(model => model.P_O_Box)

                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>*@

                <div class="row cstm-frm-row">
                    <div class="col-md-8">

                        @Html.TextBoxFor(model => model.Location, new { @class = "cstm-input", @placeholder = "Location" })
                        @Html.ValidationMessageFor(model => model.Location)

                    </div>
                </div>


            </div>
            <div class="col-md-8">


                <div class="row cstm-frm-row">
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Website, new { @class = "cstm-input", @placeholder = "Website" })
                        @Html.ValidationMessageFor(model => model.Website)

                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-3">@Html.LabelFor(model => model.LegalEntityId, "Legal Entity")</div>

                    <div class="col-md-6">
                        <label class="cstm-select">
                            @Html.DropDownList("LegalEntityId", ViewBag.LegalEntityList as SelectList)
                            @Html.ValidationMessageFor(model => model.LegalEntityId)
                        </label>
                    </div>
                </div>


                <div class="row cstm-frm-row">
                    <div class="col-md-3">@Html.LabelFor(model => model.TimezoneId, "Time Zone")</div>

                    <div class="col-md-6">
                        <label class="cstm-select">
                            @Html.DropDownList("TimezoneId", ViewBag.TimeZoneList as SelectList)
                            @Html.ValidationMessageFor(model => model.TimezoneId)
                        </label>
                    </div>
                </div>


                <div class="row cstm-frm-row">
                    <div class="col-md-2 cstm-lbl">@Html.LabelFor(model => model.LogoLocation, "Logo")</div>
                    <div class="col-md-4">
                        <input name="logoImage" type="file" id="logoImage" />
                        @Html.ValidationMessageFor(model => model.LogoLocation)
                    </div>
                    <div class="col-md-6">
                        <img id="logo_target" src="http://placehold.it/160x120" alt="Logo" width="160" height="120" />
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-2 cstm-lbl">@Html.LabelFor(model => model.SealLocation, "Seal")</div>
                    <div class="col-md-4 cstm-reg-label-1">
                        <input name="logoImage" type="file" id="logoImage" />
                        @Html.ValidationMessageFor(model => model.SealLocation)
                    </div>
                    <div class="col-md-6">
                        <img id="logo_target" src="http://placehold.it/160x120" alt="Logo" width="160" height="120" />
                    </div>
                </div>

                <div class="form-group" id="documentDiv">
                    <div class="col-md-4 min-hg-reg">
                        @Html.LabelFor(model => model.Documents, "Add Document")
                        <button id="addDoc" type="button">Add More</button>
                    </div>
                    <div class="col-md-7 pull-right cstm-show">
                        <input name="documentLocation[]" type="file" multiple />
                    </div>


                    @*@Html.ValidationMessageFor(model => model.DocumentLocation)*@

                </div>

            </div>

        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                <input type="submit" value="Create Company" class="btn btn-default" />

            </div>
        </div>
    </div>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"> </script>
    <script>
        function readLogoURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#logo_target').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#logoImage").change(function () {
            readLogoURL(this);
        });

        function readSealURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#seal_target').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#sealImage").change(function () {
            readSealURL(this);
        });

        $("#addDoc").click(function () {
            $("#documentDiv").append("<div class='col-md-7 pull-right cstm-show'><input name='documentLocation[]' type='file' multiple /></div>");
            $("documentDiv").focus();
        });

    </script>
