@model Mhasb.Domain.Users.Role
@{
    ViewBag.Title = "CreateRole";
}

<div class="container my-dashboard">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="welcome">
                <h4><a href="#">Create Role</a></h4>

            </div>
            @using (Html.BeginForm(new { @class = "organization-details-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group ">
                    @Html.TextBoxFor(model => model.RoleName, htmlAttributes: new { @class = "form-control", placeholder = "Role Name", id = "role_name", validate = "RequiredField" })
                    @Html.ValidationMessageFor(model => model.RoleName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Remarks, htmlAttributes: new { @class = "form-control", placeholder = "Reamarks", id = "remarks", validate = "RequiredField" })
                    @Html.ValidationMessageFor(model => model.Remarks)
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default" type="submit">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
