@model  IEnumerable<Mhasb.Wsit.CustomModel.Organizations.LogView>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var tt = @ViewBag.CompanyArr;
}
<!--start welcome dashboard section-->
<div class="container my-dashboard">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="welcome">
                <h4><p> My MHASB</p></h4>
                <p>Hi @ViewBag.userName , you last logged into <a href="@Url.Action("Dashboard")">@ViewBag.lastLoginCompany </a> at @ViewBag.lastLoginTime O'Clock</p>
            </div>



            @if (TempData["SucMasg"] != null)
            {
                <div class="alert alert-success">@TempData["SucMasg"]</div>
            }
            @if (TempData["errMsg"] != null)
            {
                <div class="alert alert-danger">@TempData["errMsg"]</div>
            }




            <div class="table-responsive">
                <h3>Organisations</h3>
                <table class="table organization-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Viewed</th>
                            <th>Access</th>
                            <th>Subscription</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in Model)
                        {
                            <tr>
                                <td><a href="javascript:void(0)" class="gotoCompany" id="@company.CompanyId">@company.CompanyName</a></td>

                                @*<td>@Html.ActionLink(@company.TradingName, "Dashboard", "Users", new { area = "UserManagement" }, new { @class = "link" })</td>*@
                                <td>@company.LastViewedTime By <br /> @company.LastViewerFirstName @company.LastViewerLastName</td>
                                <td>Adviser <br /> Manage users</td>
                                <td>@company.LastViewerFirstName @company.LastViewerLastName <br />In Trial</td>
                                @if (@ViewBag.CompanyArr == @company.UserId)
                                {
                                <td>@Html.ActionLink("Update", "Update", "Company", new { area = "OrganizationManagement" }, new { @class = "link" }) <br /> @Html.ActionLink("Profile", "AddProfile", "Company", new { area = "OrganizationManagement" }, new { @class = "link" })</td>
                                }else{
                                <td>@Html.ActionLink("View", "Update", "Company", new { area = "OrganizationManagement" }, new { @class = "link" }) <br /> @Html.ActionLink("Profile", "AddProfile", "Company", new { area = "OrganizationManagement" }, new { @class = "link" })</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 add-organization shadow">
            <h3 class="title"> Run Another Business ?</h3>
            <p> You Could Save <br /> <span class="free">25%</span> Off <br /> All Subscription Fees </p>
            <a href="@Url.Action("Add", "Company", new { area = "OrganizationManagement" })"><button type="button" class="btn btn-add-Organization ">Add Organization</button></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    @*$(document).ready(function () {
        $('.gotoCompany').click(function () {
            var companyID = $(this).attr('id');
            var baseUrl = '@Url.Content("~/")';

            $.ajax({
                url: "/UserManagement/Users/UpdateCompnay",
                type: "POST",
                data: { ComanyId: companyID },
                success: function (data) {
                    if (data.success == "True") {
                        window.location = "@Url.Action("Dashboard", "Users", new { area = "UserManagement" })";
                    } else {

                    }
                },
                error: function () {

                }
            });
        });
        
    });*@
</script>
