@model Mhasb.Domain.Organizations.Founder
<div class="container">
    @using (Html.BeginForm("Update", "Founders", new { area = "OrganizationManagement" }, FormMethod.Post, new { @class = "organization-details-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.CompanyId);
        <div class="row cstm-frm-row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FounderName, new { @class = "cstm-input", placeholder = "Founder Name" })
                @Html.ValidationMessageFor(m => m.FounderName)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FounderResidence, new { @class = "cstm-input", placeholder = "Residence of Founder" })
                @Html.ValidationMessageFor(m => m.FounderResidence)
            </div>
        </div>
        <div class="row cstm-frm-row">
            <div class="col-md-6 ">
                @Html.TextBoxFor(m => m.Tel, new { @class = "cstm-input", placeholder = "Founder Tel" })
                @Html.ValidationMessageFor(m => m.Tel)
            </div>
            <div class="col-md-6 ">
                @Html.DropDownList("CountryId", ViewBag.CountryList as SelectList, "--Founder Country--", new { @class = "cstm-input" })
                @Html.ValidationMessageFor(m => m.CountryId)
            </div>
        </div>
        <div class="row cstm-frm-row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Fax, new { @class = "cstm-input", placeholder = "Founder Fax" })
                @Html.ValidationMessageFor(m => m.Fax)
            </div>
            <div class="col-md-6 ">
                @Html.DropDownList("LanguageId", ViewBag.LanguageList as SelectList, "--Founder Language--", new { @class = "cstm-input" })
                @Html.ValidationMessageFor(m => m.LanguageId)
            </div>

        </div>
        <div class="row cstm-frm-row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.PoBoax, new { @class = "cstm-input", placeholder = "Founder P. O. Box" })
                @Html.ValidationMessageFor(m => m.PoBoax)
            </div>
        </div>
        <div class="row cstm-frm-row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "cstm-input", placeholder = "Founder Email", type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

        </div>
        <div class="row cstm-frm-row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.SharesOwned, new { @class = "cstm-input", placeholder = "Number of Shares Owned" })
                @Html.ValidationMessageFor(m => m.SharesOwned)
            </div>
        </div>
        <div class="row cstm-frm-row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.TotalSharesValue, new { @class = "cstm-input", placeholder = "Total Shares Value" })
                @Html.ValidationMessageFor(m => m.TotalSharesValue)
            </div>
            <div class="col-md-6">
                <input type="submit" value="Save" class="btn btn-add-Organization">
            </div>
        </div>
    }
</div>
<script src="/Scripts/jquery-1.10.2.js"></script>
@Scripts.Render("~/bundles/jqueryval")