@model IEnumerable<Mhasb.Domain.Users.RoleVsAction>
@if (!Model.Any())
{
    <tr><td colspan="4">There are no actions under your selectrions</td></tr>
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" name="ActionId" checked="@item.IsActive" value="@item.ActionId" class="checkbox-element" /></td>
            <td>@item.ActionLists.ModuleName</td>
            <td>@item.ActionLists.ControllerName</td>
            <td>@item.ActionLists.ActionName </td>
        </tr>
    }

}






