@model Mhasb.Domain.Users.RoleVsAction
@{
    ViewBag.Title = "Create";
    // Layout = "~/Areas/UserManagement/Views/Shared/_mhasbLayout.cshtml";
}
<div class="container">
    <div class="row clearfix">
        @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="col-md-4 column">

                <div class="row cstm-frm-row">
                    <div class="col-md-4">Role Name</div>
                    <div class="col-md-8">
                        <div class="dropdown">
                            @Html.DropDownList("RoleId", (SelectList)ViewBag.roleList, "--Select Role--", htmlAttributes: new { @class = "dropdown-toggle droper cstm-input", id = "roles", required = "required" })

                        </div>
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4"> Module Name</div>
                    <div class="col-md-8">
                        <div class="dropdown">
                            @Html.DropDownList("ModuleName", (SelectList)ViewBag.moduleList, "--Select Module--", htmlAttributes: new { @class = "dropdown-toggle droper cstm-input", id = "modules", required = "required" })
                        </div>
                        <div id="alert"></div>
                    </div>
                </div>
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        Submodule Name
                    </div>
                    <div class="col-md-8">
                        <div class="dropdown">
                            @Html.DropDownList("ControllerName", (SelectList)ViewBag.ControllerList, "--Select Submodule--", htmlAttributes: new { @class = "dropdown-toggle droper cstm-input", id = "controllers", required = "required" })
                        </div>
                        <div id="alert1"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 column" id="hidden" >
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Module Name</th>
                            <th>Submodule</th>
                            <th>Action Name</th>
                        </tr>
                    </thead>
                    <tbody id="Actions"></tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="save" class="btn  btn-info" style="  float: right;margin-top: auto;margin-right: 25px;width: 30%;position: relative;">
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#roles").change(function () {
            var Id = $(this).val();
            var moduleName = $("#modules").val();
            var controllerName = $("#controllers").val();;
            var data = { RoleId: Id, moduleName: moduleName, controllerName: controllerName }
            AjaxCall(data);
        });
        $("#modules").change(function () {
            var moduleName = $(this).val();
            var roleId = $("#roles").val();
            var controllerName = $("#controllers").val();
            var data = { RoleId: roleId, moduleName: moduleName, controllerName: controllerName }
            AjaxCall(data);
            var baseUrl = '@Url.Content("~/")';
            $("#controllers").attr("disabled", true);
            $.ajax({
                type: "POST",
                url: baseUrl + "UserManagement/RoleVsActions/GetControllerList",
                data: { moduleName: moduleName },
                datatype: "Json",
                success: function (data) {
                    var htmlStr = '<option value ="">--Select Submodule--</option>';
                    $.each(data.cl, function () {
                        htmlStr += '<option value ="' + this.ControllerName + '">' + this.ControllerName + '</option>';
                    });
                    $("#controllers").attr("disabled",false);
                    $("#controllers").html(htmlStr);
                }
            });
        });
        $("#controllers").change(function () {
            var moduleName = $("#modules").val();
            var roleId = $("#roles").val();
            var controllerName = $(this).val();
            var data = { RoleId: roleId, moduleName: moduleName, controllerName: controllerName }
            AjaxCall(data);
        });
        $("#save").click(function () {
            if ($("#modules").val() == "") {
                $("#alert").html("Module Name Is reqiured!");
            }
            else if ($("#controllers").val() == "") {
                $("#alert1").html(" Sub Module Name Is reqiured!");
            }
        })
    });

    function AjaxCall(data) {
        var baseUrl = '@Url.Content("~/")';
        $("#hidden").hide("slow");
        $.ajax({
            type: "POST",
            url: baseUrl + "UserManagement/RoleVsActions/GetActionList",
            data: data,
            datatype: "html",
            success: function (data) {
                $("#Actions").html(data);
                $("#hidden").show("slow");
            }
        });
    }

</script>