@model Mhasb.Domain.Accounts.VoucherType

@{
    ViewBag.Title = "Edit";
    
}

<h2>Edit</h2>



<div class="container my-dashboard">
    <div class="row clearfix">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="col-md-10">
                <h4>Voucher Type Create </h4>


                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.Name) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.Code) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Code, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.Description) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Description, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

            </div>

        }
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
