@model Mhasb.Domain.OrgSettings.Currency

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <ul class="cstm-breadcrumb">
        <li><a href="#" class="active">Start</a></li>
        <li><a href="@Url.Action("update", "Company", new { area = "OrganizationManagement" })" class="active">Organisation Settings</a></li>
        <li><a href="@Url.Action("Create", "FinalcialSetting", new { area = "OrgSettings" })" class="active">Financial Settings</a></li>
        @*<li><a href="#">Invoice Settings</a></li>*@
        <li><a href="@Url.Action("Create", "Invitations", new { area = "NotificationManagement" })" class="active">Invite Users</a></li>
        <li><a href="@Url.Action("Create", "Currency", new { area = "OrgSettings" })" class="active">Currencies</a></li>
        <li><a href="@Url.Action("Create", "TaxSetting", new { area = "OrgSettings" })">Tax Rates</a></li>
        <li><a href="@Url.Action("Create", "ChartOfAccounts", new { area = "Accounts" })">Chart of Accounts</a></li>
        @*<li><a href="#">Account Balances</a></li>*@
        <li><a href="#">Done.</a></li>
    </ul>
</div>

<div class="container my-dashboard">
    <div class="row clearfix">
        <div class="col-md-6">
            <h2>Create</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Currency</h4>
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Name, new { @class="cstm-input"})
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Symbol)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Symbol, new { @class = "cstm-input" })
                            @Html.ValidationMessageFor(model => model.Symbol)
                        </div>
                    </div>

                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
