@model Mhasb.Wsit.Web.Areas.UserManagement.Models.Login

@{
    Layout = "~/Views/Shared/Land_new.cshtml";


}



<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-7 intro-text">
                    <span class="name"><span class="promo">Finding online solution ?</span><br><span class="smash"> Start your small business</span></span>
                    <!--<a class="get-started"href="#">Free Trial</a>-->
                </div>
                <div class="col-lg-5 intro-text">
                    <div class="account-wall">
                        <h1 class="text-center login-title">Sign in to continue</h1>

                        @if (Session["msg"] != null)
                        {
                            <div class="alert alert-danger">
                                @Session["msg"]
                            </div>
                            Session.Remove("msg");
                        }

                        @using (Html.BeginForm("Login", "Users", new { Area = "UserManagement" }, FormMethod.Post, new { @class = "form-signin" }))
                        {

                            <div style="margin-bottom: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type="email",id = "login-username", @placeholder = "Email" })
                            </div>
                            <div class="row" style="color:#FD6E6E;"> @Html.ValidationMessageFor(model => model.Email)</div>
                            <div style="margin-bottom:0px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "login-password", type = "text", @placeholder = "Password" })
                            </div>
                            <div class="row" style="color:#FD6E6E;">@Html.ValidationMessageFor(model => model.Password)</div>
                            <div class="checkbox fl">
                                <label>
                                    <input type="checkbox"> Save my password
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        }
                        @*<p>Don't have an account ? <a class="create-account" href="#"> Create an account </a> </p>*@
                        <p>Don't have an account ?&nbsp;@Html.ActionLink("Create an account", "Registration", "Users", new { Area = "UserManagement" }, new { @class = "create-account" })</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>