@model Mhasb.Domain.Contacts.ContactInformation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>ContactInformation</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.CompanyId, "CompanyId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CompanyId", String.Empty)
                    @Html.ValidationMessageFor(model => model.CompanyId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ContactName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactName)
                    @Html.ValidationMessageFor(model => model.ContactName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountNumber)
                    @Html.ValidationMessageFor(model => model.AccountNumber)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PostalAddId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostalAddId)
                    @Html.ValidationMessageFor(model => model.PostalAddId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalAddId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhysicalAddId)
                    @Html.ValidationMessageFor(model => model.PhysicalAddId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ContactType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactType)
                    @Html.ValidationMessageFor(model => model.ContactType)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate)
                    @Html.ValidationMessageFor(model => model.CreateDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateDate)
                    @Html.ValidationMessageFor(model => model.UpdateDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateBy)
                    @Html.ValidationMessageFor(model => model.CreateBy)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UpdateBy, "UpdateBy", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UpdateBy", String.Empty)
                    @Html.ValidationMessageFor(model => model.UpdateBy)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
