@model IEnumerable<Mhasb.Domain.Commons.LegalEntity>
<div class="container my-dashboard">
    <div class="row">
        <div class="col-md-10">

            <div class="col-md-2">

                @Html.ActionLink("Create New", "Create", new { area = "Commons" }, new { @class = "btn btn-success" })
            </div>
            <div class="col-md-6 pull-right no-padding">


            </div>


            @*@Html.Action("List")*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10">
                <div class="alert alert-success" style="display:none;"></div>
                @if (TempData["SucMsg"] != null)
                {
                    <div class="alert-success">@TempData["SucMsg"] </div>
                }
                <table class="table table-bordered" style="text-align: center;">
                    <tr>
                        <th style="text-align: center;">
                            @Html.DisplayNameFor(model => model.LegalEntityName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LegalEntityName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#pop-up-@item.Id">
                                    Delete
                                </button>
                                @*<a href="javascript:void(0)"  class="btn btn-primary" data-toggle="modal" data-target="#pop-up-1" data-id="@item.Id">Delete</a>*@
                                <div class="modal fade" id="pop-up-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header cstm-pop-up-header">
                                                <button type="button" class="close pop-cross" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title sign-up-title" id="myModalLabel">Delete Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                                                    Are you sure you want to proceed?
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                <button type="button" data-id="@item.Id" class="btn btn-primary confirmDelete">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(".confirmDelete").click(function () {
      
        var baseUrl = '@Url.Content("~/")';
        var data = { id: $(this).attr("data-id") }
        
        $.ajax({
            type: "POST",
            url: baseUrl + "Commons/LegalEntities/Delete",
            data: data,
            success: function (data) {
                if (data == "Success") {
                    $('.close').trigger('click');
                    $(".alert").text("Successfully Deleted ! Loading New Data...").show("slow");
                    setTimeout(function () {
                        window.location.replace(baseUrl + "Commons/LegalEntities");//will redirect to your blog page (an ex: blog.html)
                    }, 2000);

                }
            }
        });
    })
</script>