@model Mhasb.Domain.Organizations.Project

<div class="row">
    <div class="col-md-12">
        <label>Project Name</label>
      @Html.TextBoxFor(m => m.ProjectName, new { @class = "cstm-input", id = "uPname" })
    </div>
</div>
<div class="row">
    <div class="col-md-12 label-marg">
        <label>Leader</label>
      
    
        @if (ViewBag.Employess != null)
        {
            @Html.DropDownList("ManagerId", (SelectList)ViewBag.Employess, "--Select Leader--", htmlAttributes: new { @class = "cstm-input", id = "UpMId", required = "required" })
        }
        else
        {
            <select class="cstm-input" id="UpMId">
                <option value="">No Employee Found</option>
            </select>
        }
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <label>Starting Date</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker5'>
                @Html.TextBoxFor(m => m.StartingDate, "{0:dd/MM/yyyy}", new { @class = "cstm-input", id = "Upstart" })
   
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 label-marg">
        <label>Finish Date</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
               @Html.TextBoxFor(m => m.FinishingDate, "{0:dd/MM/yyyy}", new { @class = "cstm-input", id = "Upfinish" })
   
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Id, new { id="UprjId"})
</div>
<script>
    $(document).ready(function () {
        //   $('#datetimepicker1').datetimepicker();
        $('#datetimepicker5').datepicker({
            format:"dd/mm/yyyy"
        });
        $('#datetimepicker6').datepicker({
            format: "dd/mm/yyyy"
        });
    });
</script>
