@model Mhasb.Domain.Organizations.TaskManager

<div class="row">
    <div class="col-md-6">
        <label>Task To</label>
        @Html.DropDownList("TaskTo", (SelectList)ViewBag.Employess, "--Select Employee--", htmlAttributes: new { @class = "cstm-input", id = "utempId", required = "required" })
    </div>
    <div class="col-md-6">
        <label>Task Title</label>
        @Html.TextBoxFor(m => m.Tite, new { @class = "cstm-input", id = "utTitle" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>Status</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker3'>
                 @Html.DropDownList("Status", (SelectList)ViewBag.status, "--Select Status--", htmlAttributes: new { @class = "cstm-input", id = "utstatus", required = "required" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>Starting Date</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input class="cstm-input" data-val="true" data-val-date="The field StartingDate must be a date." data-val-required="The StartingDate field is required." id="utstart" name="StartingDate" type="text" value="@Model.StartingDate.ToString("dd/MM/yyyy")">
                @*@Html.TextBoxFor(m => m.StartingDate, new { @class = "cstm-input", id = "utstart" })*@
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 label-marg">
        <label>Finish Date</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker8'>
                <input class="cstm-input" data-val="true" data-val-date="The field FinishingDate must be a date." data-val-required="The FinishingDate field is required." id="utfinish" name="FinishingDate" type="text" value="@Model.FinishingDate.ToString("dd/MM/yyyy")">
              @* @Html.TextBoxFor(m => m.FinishingDate, new { @class = "cstm-input", id = "utfinish" })*@
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Id, new { @id="utId"})
</div>
<script>
    $(document).ready(function () {
        //   $('#datetimepicker1').datetimepicker();
        $('#datetimepicker7').datepicker({
            format: 'dd/mm/yyyy'
            });
        $('#datetimepicker8').datepicker({
            format: 'dd/mm/yyyy'
        });
    });

</script>

