@model Mhasb.Domain.OrgSettings.FinancialSetting

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <ul class="cstm-breadcrumb active-breadcrumb">
        <li><a href="#">Start</a></li>
        <li><a href="#">Organisation Settings</a></li>
        <li><a href="#">Financial Settings</a></li>
        <li><a href="#">Invoice Settings</a></li>
        <li><a href="#">Invite Users</a></li>
        <li><a href="#">Currencies</a></li>
        <li><a href="#">Tax Rates</a></li>
        <li><a href="#">Chart of Accounts</a></li>
        <li><a href="#">Account Balances</a></li>
        <li><a href="#">Done.</a></li>
    </ul>
</div>

<div class="container my-dashboard">
    <div class="row clearfix">
        @using (Html.BeginForm("Create", "FinalcialSetting", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="col-md-6">
                <h4>FinalcialSetting </h4>

                @if (TempData["SucMasg"] != null)
                {
                    <div class="alert alert-success">@TempData["SucMasg"]</div>
                }
                @if (TempData["errMsg"] != null)
                {
                    <div class="alert alert-danger">@TempData["errMsg"]</div>
                }


                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.FoundedYear) :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("FoundedYear", ViewBag.yearList as SelectList, "-- Select Year First--")
                            @Html.ValidationMessageFor(model => model.FoundedYear)
                        </label>
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.FinalcialPeriod) :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("FinalcialPeriod", ViewBag.PeriodList as SelectList, "-- Select Period First--")
                            @Html.ValidationMessageFor(model => model.FinalcialPeriod)
                        </label>
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.StartingDate) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.StartingDate, new { @class = "cstm-input", id = "StartingDate" })
                        @Html.ValidationMessageFor(model => model.StartingDate)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.EndingDate) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EndingDate, new { @class = "cstm-input", id = "EndingDate" })
                        @Html.ValidationMessageFor(model => model.EndingDate)
                        <div class="alert-danger" style="display: none;" id="enddate"></div>
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.PeriodLockDate) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.PeriodLockDate, new { @class = "cstm-input", id = "PeriodLockDate" })
                        <div class="alert-danger" style="display: none;" id="lockdate"></div>
                        @Html.ValidationMessageFor(model => model.PeriodLockDate)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.YearLockDate) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.YearLockDate, new { @class = "cstm-input", id = "YearLockDate" })
                        @Html.ValidationMessageFor(model => model.YearLockDate)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" id="save" class="btn btn-default" />
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <br />
                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.CurrencyId) :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("CurrencyId", ViewBag.CurrencyList as SelectList, "-- Select Period First--")
                            @Html.ValidationMessageFor(model => model.CurrencyId)
                        </label>
                    </div>
                </div>


                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.Capital) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Capital, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.Capital)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.PaidUpCapital) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.PaidUpCapital, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.PaidUpCapital)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.SharePrice) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.SharePrice, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.SharePrice)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.TotalShares) :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.TotalShares, new { @class = "cstm-input" })
                        @Html.ValidationMessageFor(model => model.TotalShares)
                    </div>
                </div>

                <div class="row cstm-frm-row">
                    <div class="col-md-4">
                        <label>@Html.LabelFor(model => model.SharesCurrencyId) :</label>
                    </div>
                    <div class="col-md-8">
                        <label class="cstm-select">
                            @Html.DropDownList("SharesCurrencyId", ViewBag.CurrencyList as SelectList, "-- Select Period First--")
                            @Html.ValidationMessageFor(model => model.SharesCurrencyId)
                        </label>
                    </div>
                </div>

            </div>
            
        }
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#StartingDate').datepicker({
                format: 'mm/dd/yyyy'
            });

            $('#EndingDate').datepicker({
                format: 'mm/dd/yyyy'
            });
            $('#PeriodLockDate').datepicker({
                format: 'mm/dd/yyyy'
            });
            $('#YearLockDate').datepicker({
                format: 'mm/dd/yyyy'
            });
        });
        $("#save").click(function() {
            //alert();
            //return false;

            if (new Date($("#StartingDate").val()) > new Date($("#EndingDate").val())) {
                $("#enddate").text("End Date Must Come After Start Date").show("slow");
                setTimeout(function() { $("#enddate").hide("slow")}, 3000);
                return false;
            } else if (new Date($("#StartingDate").val()) > new Date($("#PeriodLockDate").val()) || new Date($("#PeriodLockDate").val()) > new Date($("#EndingDate").val())) {
                $("#lockdate").text("Period Locak Date Must Come After Start Date And Before End Date").show("slow");
                setTimeout(function () { $("#enddate").hide("slow") }, 3000);
                return false;
            }
        })
    </script>
}


