
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="~/AxureStyles/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet" />
    <link href="~/AxureStyles/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/AxureStyles/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/AxureStyles/files/dashboard/styles.css" type="text/css" rel="stylesheet" />
    @Scripts.Render("~/AxureStyles/resources/scripts/jquery-1.7.1.min.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/jquery-ui-1.8.10.custom.min.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/axQuery.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/globals.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axutils.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/annotation.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/axQuery.std.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/doc.js")
    @Scripts.Render("~/AxureStyles/data/document.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/messagecenter.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/events.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/action.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/expr.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/geometry.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/flyout.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/ie.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/model.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/repeater.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/sto.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/utils.temp.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/variables.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/drag.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/move.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/visibility.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/style.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/adaptive.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/tree.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/init.temp.js")
    @Scripts.Render("~/AxureStyles/files/dashboard/data.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/legacy.js")
    @Scripts.Render("~/AxureStyles/resources/scripts/axure/viewer.js")
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/AxureStyles/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/AxureStyles/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/AxureStyles/resources/reload.html'; };
    </script>
</head>
<body style="margin:0px auto;">
    @RenderBody()
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
