<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <title>MHASB ERP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/bundles/custome")
    
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <div id="loader-wrapper" style="display:none">
        <div id="loader"></div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default dashboard-nav navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll brand-drop">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><img src="~/img/logo.png" alt="logo"></a>
                <div class="brand-drop-container" id="brand-cont">
                    <h4>MHSAB</h4>
                    <ul class="drop-list" id="companyhtm"></ul>
                </div>
            </div>
            <div class="col-md-3 pull-right text-right name-drop">
                <a href="javascript:void(0)" class="profile showName"></a>
                <div class="name-drop-container text-left">
                    <div class="row no-margin drop-pad">
                        <div class="col-xs-8">
                            <label class="profileName"></label>
                            <p id="dio">Description</p>
                        </div>
                        <div class="col-md-4 top-img">
                            <img src="http://placehold.it/350x350" class="img-responsive">
                        </div>
                    </div>
                    <ul class="quick-link">
                        <li><a href="@Url.Action("create", "EmployeeProfile", new { area = "OrganizationManagement" })"><i class="fa fa-user"></i>&nbsp;Profile</a></li>
                        <li><a href="@Url.Action("AccountSettings", "Users", new { area = "UserManagement" })"><i class="fa fa-gear"></i>&nbsp;Account</a></li>
                        <li><a href="@Url.Action("Logout", "Users", new { area = "UserManagement" })"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- nav links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page"></a>
                    </li>
                    <li class="">
                        <a href='@Url.Action("Dashboard", "Users", new { area = "UserManagement" })'>Dashboard</a>

                    </li>
                    <li class="">

                        <a href="#">Subscriptions & Billing</a>

                    </li>
                    <li class="">
                        <a href='@Url.Action("AccountSettings", "Users", new { area = "UserManagement" }) '>Account Settings</a>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    @RenderBody();
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('.element').popover();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.navbar-brand').click(function () {
                $('#brand-cont').toggle();
            });
            $('.profile').click(function () {
               // $('.navbar-brand').trigger('click');
                $('.name-drop-container').toggle();
            });
            var baseUrl = '@Url.Content("~/")';
            $.ajax({
                url: baseUrl + "UserManagement/Users/GetCompany",
                type: "GET",
                data: {},
                success: function (data) {

                    if (data == "False") {

                    } else {
                        var json = $.parseJSON(JSON.stringify(data));
                        var companyhtm = "";
                        $.each(json, function (key, value) {
                            companyhtm = ' <li><a href="javascript:void(0)" class="gotoCompany" id="'+value['Id']+'">' + value['DisplayName'] + '</a></li>';
                            $('#companyhtm').append(companyhtm);
                            $('.gotoCompany').click(function () {
                                var companyID = $(this).attr('id');
                                var baseUrl = '@Url.Content("~/")';
                               
                                $.ajax({
                                    url: "/UserManagement/Users/UpdateCompnay",
                                    type: "POST",
                                    data: { ComanyId: companyID },
                                    success: function (data) {
                                        if (data.success == "True") {
                                            window.location = "@Url.Action("Dashboard", "Users", new { area = "UserManagement" })";
                                        } else {

                                        }
                                    },
                                    error: function () {

                                    }
                                });
                            });
                        });

                    }
                },
                error: function () {

                }
            });

            $.ajax({
                url: baseUrl + "UserManagement/Users/GetUserProfile",
                type: "GET",
                data: {},
                success: function (data) {

                    if (data == "False") {

                    } else {
                        console.log(data);
                        
                        var json = $.parseJSON(JSON.stringify(data));
                        if (json.FirstName != "" && json.LastName) {
                            var name = json.FirstName + " " + json.LastName;
                            $('.showName').html(name + '&nbsp;<i class="fa fa-caret-down"></i>');
                            $('.profileName').text(name);
                        }
                        
                        //var companyhtm = "";
                        //$.each(json, function (key, value) {
                        //    companyhtm = ' <li><a href="#">' + value['DisplayName'] + '</a></li>';
                        //    $('#companyhtm').append(companyhtm);
                        //});

                    }
                },
                error: function () {

                }
            });

        });


    </script>



    @RenderSection("scripts", required: false)
    <!--End welcome dashboard section-->
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-map-marker foot-icon"></i> Location</h3>
                        <p>3481 Dhaka Place<br>Dhaka Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-wifi foot-icon"></i> Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-share-alt foot-icon"></i>About MHASB ERP</h3>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy;  2015
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top ) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</body>
</html>
