@model Mhasb.Domain.Accounts.ChartOfAccount
@{Layout = null;}


<!-- Large modal -->


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content clearfix">

            <div class="modal-header cstm-pop-up-header">
                <button type="button" class="close pop-cross" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title sign-up-title" id="myModalLabel">Add New Account</h4>
            </div>

            @*@using (Html.BeginForm("","",new {area="", id="coaForm"}))*@
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-md-6">

                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Type:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="cstm-input" id="Aid" name="atype" required="required">
                                <option value="">--Select Account Type--</option>
                                @foreach (var items in ViewBag.Atypes)
                                {
                                    if (items.Level == 1)
                                    {
                                        <optgroup label=@items.AName></optgroup>
                                    }
                                    else
                                    {
                                        <option value="@items.Id">@items.AName</option>
                                    }
                                }
                            </select>
                            @*@Html.DropDownList("atype", (SelectList)ViewBag.ATypes, "--Select Account Type--", htmlAttributes: new { @class = "cstm-input", id = "Aid", required = "required" })*@
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Name</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.AName, new { @class = "cstm-input" })
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Code</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ACode, new { @class = "cstm-input", id = "code" })
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Description</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.Description, new { @class = "cstm-tarea", placeholder = "Type a text here" })
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            <label>Account Tax</label>
                        </div>
                        <div class="col-md-8">

                            @Html.DropDownList("TaxId", (SelectList)ViewBag.Lookups, "--Select Tax --", htmlAttributes: new { @class = "cstm-input", id = "Aid", required = "required" })
                        </div>
                    </div>
                    @*<div class="row cstm-frm-row">
                            <div class="col-md-4">
                                <label>Account Nature</label>
                            </div>
                            <div class="col-md-8">
                                <select class="cstm-input">
                                    <option value="">--Select Account Nature--</option>
                                    <option value="">Debit</option>
                                    <option value="">Credit </option>

                                </select>
                            </div>
                        </div>*@


                    <div class="row cstm-frm-row">

                        <div class="col-md-12">
                            <label>
                                @Html.CheckBoxFor(m => m.ShowInDashboard)
                                Show on Dashboard Watchlist
                            </label>
                        </div>
                    </div>
                    <div class="row cstm-frm-row">

                        <div class="col-md-12">
                            <label>
                                @Html.CheckBoxFor(m => m.ShowInExpenseClaims) Show in Expense Claims
                            </label>
                        </div>
                    </div>
                    <div class="row cstm-frm-row">

                        <div class="col-md-12">
                            <label>
                                @Html.CheckBoxFor(m => m.IsCostCenter)This Account Is a Cost Center
                            </label>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Level, new { id = "level" })
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="modal-footer">
                                    <button type="button" id="SaveItem" class="btn btn-success">Save</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <img src="~/img/chartofaccount.png" />
                </div>
            }
        </div>
    </div>
</div>
<script>
    $("#Aid").change(function () {
        var baseUrl = '@Url.Content("~/")';
        var url = $("#getCode").attr("data-url");
        var id = $(this).val();
        var data = { id: id }
        $.ajax({
            type: "POST",
            url: baseUrl + "Accounts/ChartOfAccounts/GetCode",
            data: data,
            datatype: "html",
            success: function (data) {
                $("#code").val(data.code);
                $("#code").attr('readonly', 'readonly');
                $("#level").val(data.lavel);

            }
        });
    })
</script>

@if (ViewBag.ActionFlag == "ChartOfAccountCreate")
{
    <script>
        $("#SaveItem").click(function () {
            console.log("save button click event catch");
            var item = new Object();

            var arr = new Array();
            arr.push(item)
            var data = JSON.stringify($("#coaForm").serialize());
            console.log(data);

            //console.log(data);
            //$.ajax({
            //    type: "POST",
            //    url: $("#UrlHide").val(),
            //    data: { item: data },

            //    success: function (data) {
            //        location.reload();
            //    }
            //});

        })
    </script>
}
