@model List<Mhasb.Domain.Accounts.ChartOfAccount>

@if (ViewBag.CompanyCompleteFlag < 5)
{
    <div class="container">
        <ul class="cstm-breadcrumb">
            <li><a href="#" class="active">Start</a></li>
            <li><a href="@Url.Action("update", "Company", new { area = "OrganizationManagement" })" class="active">Organisation Settings</a></li>
            <li><a href="@Url.Action("Create", "FinalcialSetting", new { area = "OrgSettings" })" class="active">Financial Settings</a></li>
            @*<li><a href="#">Invoice Settings</a></li>*@
            <li><a href="@Url.Action("Create", "Invitations", new { area = "NotificationManagement" })" class="active">Invite Users</a></li>
            @*<li><a href="@Url.Action("Create", "Currency", new { area = "OrgSettings" })" class="active">Currencies</a></li>
                <li><a href="@Url.Action("Create", "TaxSetting", new { area = "OrgSettings" })" class="active">Tax Rates</a></li>*@
            <li><a href="@Url.Action("Create", "ChartOfAccounts", new { area = "Accounts" })" class="active">Chart of Accounts</a></li>
            @*<li><a href="#">Account Balances</a></li>*@
            <li><a href="@Url.Action("Finish", "Users", new { area = "UserManagement" })">Done.</a></li>
        </ul>
    </div>
}

<div class="container my-dashboard">
    @if (TempData["SucMasg"] != null)
    {
        <div class="alert alert-success">@TempData["SucMasg"]</div>
    }
    @if (TempData["errMsg"] != null)
    {
        <div class="alert alert-danger">@TempData["errMsg"]</div>
    }
    
    <div class="row clearfix">
        <h4 class="all-head">Chart Of Accounts</h4>
        @foreach(var item in Model)
        {
            <div>@item.AName</div>
        }
    </div>
</div>
