@model Mhasb.Domain.Commons.Country
<div class="container my-dashboard">
    <div class="row clearfix">
        <div class="col-md-6">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Country</h4>
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CountryName)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CountryName, new { @class = "cstm-input" })
                            @Html.ValidationMessageFor(model => model.CountryName)
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CountryCode)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CountryCode, new { @class = "cstm-input" })
                            @Html.ValidationMessageFor(model => model.CountryCode)
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ShortName)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ShortName, new { @class = "cstm-input" })
                            @Html.ValidationMessageFor(model => model.ShortName)
                        </div>
                    </div>

                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            @Scripts.Render("~/bundles/jqueryval")
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>